In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
sp500_comp=pd.read_excel('sp500_company_list_weights.xlsx')

### Load the file
### Generate the file including companies list, weights and sector

In [3]:
sp500_comp.head()

                   Company Symbol    Weight      Price          Change
0               3M Company    MMM  0.516427     188.94  -3.23 (-1.68%)
1  A. O. Smith Corporation    AOS  0.030654      46.01  -0.39 (-0.84%)
2      Abbott Laboratories    ABT  0.552846      70.86    2.59 (3.79%)
3              AbbVie Inc.   ABBV  0.588628      85.45    0.69 (0.81%)
4             ABIOMED Inc.   ABMD  0.064892     325.61   10.36 (3.29%)

In [4]:
sp500_list=sp500_comp.drop(['Price','Change'],axis=1)
sp500_list.head()

                   Company Symbol    Weight
0               3M Company    MMM  0.516427
1  A. O. Smith Corporation    AOS  0.030654
2      Abbott Laboratories    ABT  0.552846
3              AbbVie Inc.   ABBV  0.588628
4             ABIOMED Inc.   ABMD  0.064892

In [5]:
sp500_list.shape

(505, 3)

In [6]:
sp500_sector=pd.read_excel('sp500_wiki.xlsx')
sp500_sector.head(10)

,Symbol,Company,Sector,Sub Sector,Headquarters Location,Date Added,Founded
0,A,Agilent Technologies Inc,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05 00:00:00,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23 00:00:00,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09 00:00:00,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30 00:00:00,1977
4,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31 00:00:00,2013 (1888)
5,ABC,AmerisourceBergen Corp,Health Care,Health Care Distributors,"Chesterbrook, Pennsylvania",2001-08-30 00:00:00,1985
6,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31 00:00:00,1981
7,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31 00:00:00,1888
8,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06 00:00:00,1989
9,ADBE,Adobe Systems Inc,Information Technology,Application Software,"San Jose, California",1997-05-05 00:00:00,1982

In [7]:
sp500_sector.shape

(505, 7)

In [8]:
sp500_company_sector=pd.merge(sp500_list,sp500_sector,on=['Symbol'])
sp500_company_sector.head()

,Company_x,Symbol,Weight,Company_y,Sector,Sub Sector,Headquarters Location,Date Added,Founded
0,3M Company,MMM,0.516427,3M Company,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,1902
1,A. O. Smith Corporation,AOS,0.030654,A.O. Smith Corp,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26 00:00:00,1916
2,Abbott Laboratories,ABT,0.552846,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31 00:00:00,1888
3,AbbVie Inc.,ABBV,0.588628,AbbVie Inc.,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31 00:00:00,2013 (1888)
4,ABIOMED Inc.,ABMD,0.064892,ABIOMED Inc,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31 00:00:00,1981

In [9]:
sp500_company_sector.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 504
Data columns (total 9 columns):
Company_x                505 non-null object
Symbol                   505 non-null object
Weight                   505 non-null float64
Company_y                505 non-null object
Sector                   505 non-null object
Sub Sector               505 non-null object
Headquarters Location    504 non-null object
Date Added               399 non-null object
Founded                  174 non-null object
dtypes: float64(1), object(8)
memory usage: 39.5+ KB

In [10]:
sp500_company_sector.drop('Company_y',axis=1,inplace=True)

In [11]:
sp500_final=sp500_company_sector.rename(columns={'Company_x':'Company'})
sp500_final.tail(10)

,Company,Symbol,Weight,Sector,Sub Sector,Headquarters Location,Date Added,Founded
495,Willis Towers Watson Public Limited Company,WLTW,0.091920,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05 00:00:00,NaN
496,Wynn Resorts Limited,WYNN,0.048545,Consumer Discretionary,Casinos & Gaming,"Paradise, Nevada",2008-11-14 00:00:00,NaN
497,Xcel Energy Inc.,XEL,0.115945,Utilities,Multi-Utilities,"Minneapolis, Minnesota",NaN,1909
498,Xerox Corporation,XRX,0.022704,Information Technology,"Technology Hardware, Storage & Peripherals","Norwalk, Connecticut",NaN,1906
499,Xilinx Inc.,XLNX,0.104802,Information Technology,Semiconductors,"San Jose, California",1999-11-08 00:00:00,NaN
500,Xylem Inc.,XYL,0.056754,Industrials,Industrial Machinery,"White Plains, New York",2011-11-01 00:00:00,NaN
501,Yum! Brands Inc.,YUM,0.130768,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06 00:00:00,NaN
502,Zimmer Biomet Holdings Inc.,ZBH,0.095804,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07 00:00:00,NaN
503,Zions Bancorporation N.A.,ZION,0.039483,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22 00:00:00,NaN
504,Zoetis Inc. Class A,ZTS,0.186345,Health Care,Pharmaceuticals,NaN,NaN,NaN

In [12]:
sp500_final.to_csv('sp500_companies_weights_sector.csv')
sp500_final.head()

,Company,Symbol,Weight,Sector,Sub Sector,Headquarters Location,Date Added,Founded
0,3M Company,MMM,0.516427,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,1902
1,A. O. Smith Corporation,AOS,0.030654,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26 00:00:00,1916
2,Abbott Laboratories,ABT,0.552846,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31 00:00:00,1888
3,AbbVie Inc.,ABBV,0.588628,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31 00:00:00,2013 (1888)
4,ABIOMED Inc.,ABMD,0.064892,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31 00:00:00,1981

### Analysis companies and weights by sector

In [13]:
sp500_final.groupby('Sector')['Company','Symbol'].count()

                        Company  Symbol
Sector
Communication Services       26      26
Consumer Discretionary       65      65
Consumer Staples             33      33
Energy                       30      30
Financials                   68      68
Health Care                  61      61
Industrials                  69      69
Information Technology       68      68
Materials                    25      25
Real Estate                  32      32
Utilities                    28      28

In [14]:
sp500_final.groupby('Sector')['Weight'].sum().round(1)

Sector
Communication Services    10.4
Consumer Discretionary    10.1
Consumer Staples           7.3
Energy                     5.6
Financials                13.4
Health Care               15.1
Industrials                9.4
Information Technology    19.8
Materials                  2.7
Real Estate                2.9
Utilities                  3.2
Name: Weight, dtype: float64

In [15]:
columns=list(set(sp500_final['Sector']))
columns

['Energy',
 'Consumer Discretionary',
 'Utilities',
 'Communication Services',
 'Real Estate',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Health Care',
 'Industrials',
 'Materials']

#### Generate the output file listing companies in each sector

In [16]:
sector_list=['Utilities','Financials','Communication Services','Information Technology','Materials','Real Estate',\
             'Energy','Consumer Staples','Industrials','Consumer Discretionary','Health Care']

df_list=['utilities','financials','communication_services','information_technology','materials','real_estate',\
             'energy','consumer_staples','industrials','consumer_discretionary','health_care']
len(sector_list)

11

In [17]:
for i in range(11):
    df_list[i]=sp500_final.groupby('Sector').get_group(sector_list[i]).sort_values(by='Weight',ascending=False)
    print(sector_list[i]+' has: '+str(df_list[i].shape[0])+' Companies!\n')
    df_list[i].to_csv('sp500_sector/'+sector_list[i]+'.csv')
print('File generated!')

Utilities has: 28 Companies!

Financials has: 68 Companies!

Communication Services has: 26 Companies!

Information Technology has: 68 Companies!

Materials has: 25 Companies!

Real Estate has: 32 Companies!

Energy has: 30 Companies!

Consumer Staples has: 33 Companies!

Industrials has: 69 Companies!

Consumer Discretionary has: 65 Companies!

Health Care has: 61 Companies!

File generated!